.main-page {
  font-family: Pretendard-Regular;

}

/* .welcome-section{
  width: 100vw;
  height: auto;
  margin-top: 10px;
} */

.welcome-section img {
  width: 100%;
  height: auto;
}

.section {
  margin: 50px 20px 20px 20px;
}

.section2 {
  margin: 200px 20px 20px 20px;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container > Card { /* 각 카드 컴포넌트를 가정합니다 */
  flex: 1 1 18%; /* flex-grow, flex-shrink, flex-basis */
  margin: 10px;
  max-width: 180px; /* 최대 너비 설정, 카드의 실제 너비에 맞춰 조정 가능 */
}

h2 {
  margin: 20px 0;
  color: #007bff;
  flex: 1;
  text-align: center;
}

.sort-select {
  padding: 5px 10px;
  font-size: 1em;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  background-color: #fff;
  position: absolute;
  right: 0;
}

.sort-select:focus {
  outline: none;
  border-color: #0056b3;
}
