.navbar {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  font-family: Pretendard-Regular;
  margin-bottom: 10px;
}

.navbar::after {
  content: '';
  position: absolute;
  bottom: -10px; /* 원하는 간격으로 조정 */
  left: 0px; /* 원하는 시작점으로 조정 */
  right: 0px; /* 원하는 끝점으로 조정 */
  border-bottom: 2px solid #ddd; /* 끊어진 선 스타일 */
}
  
  .navbar-logo img {
    height:70px;
  }
  

  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Space between user info and buttons */
  }
  
  .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Space between avatar and username */
  }
  
  .navbar-button {
    margin-left: 10px;
    padding: 0.5em 1em;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Ensure link buttons do not have underline */
  }

  .login-button {
    margin-left: 10px;
    padding: 0.5em 1em;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Ensure link buttons do not have underline */
    justify-content: center; /* Center text horizontally */
    /* height: 100px; Specify height to match avatar height */
    font-size: 16px; /* Ensure text size is consistent */
  }
  
  .navbar-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .navbar-button:focus {
    outline: none;
  }

  .login-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .login-button:focus {
    outline: none;
  }
  
  /* .navbar-button-mypage{
    background-color: #007bff;
    color: #fff;
    height: 1px;
  }

  .navbar-button-mypage:focus {
    outline: none;
  } */