.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .signup-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-box h2 {
    margin-bottom: 20px;
  }
  
  .signup-form .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .signup-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-form .form-group input,
  .signup-form .form-group select {
    width: 100%;
    padding: 10px;
    border: none; /* 모든 border 제거 */
    border-bottom: 1px solid #ddd; /* 아래쪽 border만 남기기 */
    border-radius: 0; /* border-radius 제거 */
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width : 100%;
  }
  